.mybutton{
    border: none;
    color: white;
    background-color: blue;
    border-color: 1 px solid blue;
    transition: all 0.3s 0s;
    border-radius: 5px;
    margin-left: 20px;
}
.mybutton:hover{
box-shadow : -3px 3px 5px 2px rgba(0, 0, 255, 0.8);


}
button{
    padding : 7px 10px;

}